
.menu{
    background-color: #515151;
    list-style: none;
    width: 180px;
    min-height: 100vh;    

}

.icon-menu {
    width: 30px;
    height: auto;
    float: left;
    position: relative;
    margin: 10px;
  }

.list { 
    color: white; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    padding: 20px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: left; 
    }
    
    .list:hover { 
    background: rgba(235, 86, 82); 
    border: 1px solid rgba(235, 86, 82);

    }